# .github/workflows/keepalive.yml
name: Keep Alive

on:
  schedule:
    - cron: '0 0 * * *' # chạy mỗi ngày 0:00 UTC
  workflow_dispatch:

jobs:
  keep-alive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
